/*General styles*/

html,body{
    background-color: whitesmoke;
    margin:0;
    padding:0;
}

.listContainer{
    background: whitesmoke;
    display: grid;
    grid-template-columns: 2.5% 95% 2.5%;
    grid-template-rows: 2.5% 95% 2.5%;
    width: 100%;
    height: 100vh;
}

.headerList{
    background: linear-gradient(to right,#6617ce, #9c5df0);
    border-radius: 15px 15px 0 0;
    display: grid;
    grid-area: 1/1/2/2;
    text-align: justify;
    width: 100%;
}

.title{
    align-self: center;
    color:rgb(255, 255, 255);
    font-size: 1.9em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    justify-self: center;
    margin: 0;
    padding: 0 5px;
    text-align: center;
    text-shadow: 0 0 3px rgb(75, 8, 8);
    transition:opacity 0.25s ease-in;
    width:fit-content;
    word-break: break-word;
}

.buttonBlue{
    background: linear-gradient(to right,rgb(113, 36, 214),rgb(126, 52, 224),rgb(141, 68, 236),rgb(156, 93, 240));
    background-size: 100%;
    border: 0;
    border-radius: 35px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1.5em;
    padding: 0.5em 1.5em;
    margin: 0 auto;
    outline: none;
    transition-duration: 0.5s;
    width: 95%;
}

.buttonBlue:hover{
    text-shadow: 0 0 10px white;
}

.animationButton{
    animation-name: backgroundColor;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

.noSelectOnAndroid {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes backgroundColor{
    0%{background-size: 100%;}
    100%{background-size: 200%;}
}

@media (min-width:769px){

    .listContainer{
        grid-template-columns: 25% 50% 25%;
    }    

    .title{
        font-size: 2.25em;
    }

}
